$primaryColor: #25344f; 
$secondaryColor: #DBC4A4;
$accentColor: #49596E;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 600;
$leading: 150%;

$gutter: 10px;